# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/
.next

# production
/build
public/releases/*
/public/releases/*


# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env
local.env
# vercel
.vercel

*/blob

# typescript
*.tsbuildinfo
next-env.d.ts

# compiler output
/public/output
public/releases/agentic-engine-v1.0.0-windows.exe
public/releases/agentic-engine-v1.0.0-mac.dmg
public/releases/agentic-engine-v1.0.0-linux.AppImage
.env

.continue
/public/releases
