.tableWrapper {
  width: 100%;
  overflow-x: auto;
}

.dataTable {
  width: 100%;
  border-collapse: collapse;
}

.tableHeader {
  padding: 12px 15px;
  text-align: left;
  color: var(--bright-blue);
  border-bottom: 1px solid var(--transparent-white-1);
}

.tableRow {
  border-bottom: 1px solid var(--transparent-white-05);
}

.textRight {
  text-align: right;
}

.textCenter {
  text-align: center;
}