[Unit]
Description=KNIRVROOT Bootnode Service
After=network.target

[Service]
User={{ remote_user }}
Group={{ remote_user }}
WorkingDirectory=/home/{{ remote_user }} # Or {{ remote_KNIRVROOT_bin_dir }}
ExecStart={{ remote_KNIRVROOT_bin_dir }}/KNIRVROOT_executable --bootnode
# If your application needs a specific config path when run as a service:
# ExecStart={{ remote_KNIRVROOT_bin_dir }}/KNIRVROOT_executable --bootnode --config {{ remote_KNIRVROOT_app_config_dir }}/config.json

Restart=always
RestartSec=5
LimitNOFILE=4096

[Install]
WantedBy=multi-user.target
