[Unit]
Description=KNIRVCHAIN Bootnode Service
After=network.target

[Service]
User={{ remote_user }}
Group={{ remote_user }}
WorkingDirectory=/home/{{ remote_user }} # Or {{ remote__bin_dir }}
ExecStart={{ remote__bin_dir }}/_executable --bootnode
# If your application needs a specific config path when run as a service:
# ExecStart={{ remote__bin_dir }}/_executable --bootnode --config {{ remote__app_config_dir }}/config.json

Restart=always
RestartSec=5
LimitNOFILE=4096

[Install]
WantedBy=multi-user.target
