/* SearchBar.module.css */
.searchContainer {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .searchInput {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    padding: 5px;
    width: 150px; /* Adjust as needed */
    transition: width 0.3s ease-in-out;
  }
  
  .searchInput:focus {
    width: 200px; /* Expand on focus */
  }
  
  .clearSearchIcon {
    cursor: pointer;
    font-size: 1.2em;
    color: var(--transparent-white-7);
  }

.controlIcon {
    cursor: pointer;
    font-size: 1.2em;
}  